In [1]:
age=  50

_age =  50

name = "john"

name1 = "bob"

In [2]:
print(type(name))

<class 'str'>

In [5]:
print(isinstance(name,str))

True

In [6]:
price = 10.5

print(type(price))

<class 'float'>

# Basic Data Types

# Numbers

In [ ]:
height = 157 # integer

cost= 1200.2345 # flaot

z = 3 + 4j  # complex

In [ ]:
# characteristics

1- Arithematic operation ==> +,-,/,//,%,**

# Use cases

1- mathematical calculation
2- index values
3- Counter varaible
4- boolean flags

In [ ]:
# Integer Operations

In [27]:
x, y =  10,3

print(f" addition {x + y}")
print(f" substraction {x - y}")
print(f" multiplication {x * y}")
print(f" division {x / y}")
print(f" floor division {x // y}")
print(f" modulo {x % y}") # remainder
print(f" power {x ** y}")

 addition 13
 substraction 7
 multiplication 30
 division 3.3333333333333335
 floor division 3
 modulo 1
 power 1000

In [36]:
# float

price =  99.9098988
print(price)

print(round(price,2))
print(f"Price values with 2 letter : {price:.2f}" )

99.9098988
99.91
Price values with 2 letter : 99.91

In [40]:
# complex 

z1 = 3 + 4j
z2 =  1 -  2j

print(f"sum {z1+z2}")

z3 =z1+z2

print(z3.real)
print(z3.imag)

sum (4+2j)
4.0
2.0

In [48]:
# Type Conversion

# conversion string to int
print("=========== conversion string to int =========================")
value = "42"
print(type(value))

convert_to_integer = int(value)
print(convert_to_integer)
print(type(convert_to_integer))

# conversion int to string

print("=========== conversion int to string =========================")
value1 = 42
print(type(value1))

convert_to_string = str(value1)
print(convert_to_string)
print(type(convert_to_string))

print("=========== conversion int to float =========================")

value2 = 42
print(type(value2))

convert_to_float = float(value2)
print(convert_to_float)
print(type(convert_to_float))

print("=========== conversion float to int =========================")

value3 = 42.03433
print(type(value3))

convert_to_int = int(value3)
print(convert_to_int)
print(type(convert_to_int))

=========== conversion string to int =========================
<class 'str'>
42
<class 'int'>
=========== conversion int to string =========================
<class 'int'>
42
<class 'str'>
=========== conversion int to float =========================
<class 'int'>
42.0
<class 'float'>
=========== conversion float to int =========================
<class 'float'>
42
<class 'int'>

In [49]:
s = "ajay gurjar"
list(s)

['a', 'j', 'a', 'y', ' ', 'g', 'u', 'r', 'j', 'a', 'r']

In [23]:
x

10

In [ ]:
# mutable and Immutable

Mutable - can be changes after creation

Immutable - can not be changes after creation

# Strings

In [7]:
# strings

single_quote = 'hello world'

double_quote = "Next world"

triple_quote = """ Hi, world"""

In [8]:
# strings operations

greet = "good" + " " + "morning" 
greet

'good morning'

In [10]:
print("hello " * 5)

hello hello hello hello hello

In [16]:
# formatting
name = "john"
age =  29
f1 = f"my name is {name} and I'm {age}"
f1

"my name is john and I'm 29"

In [14]:
f2 = "my name is {} and I'm {}".format(name,age)
f2

"my name is john and I'm 29"

In [15]:
f3 = "my name is %s and I'm %d"%(name,age)
f3

"my name is john and I'm 29"

In [19]:
# Boolean

is_true = True
is_false = False

var = 50 < 3

In [20]:
var

False

In [21]:
# None Type
age = None